/* #encabezado {
    background-color: rgba(8, 131, 57, 0.789);
}

.logos {
    display: flex;
    justify-content: center;
}

.logos img {
    width: auto;
    height: auto;
}


.logos1 img {
    width: 100%;
    height: auto;
}

.sectores {
    background-color: rgba(8, 131, 57, 0.789);
    display: flex;
    justify-content: center;
}



.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

a {
    color:rgba(0, 0, 0, 0.863);
    text-decoration: none;
    padding: 10px 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.menu ul  {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
/*background: #b4ddb4; /* Old browsers */
/*background: -moz-radial-gradient(center, ellipse cover, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
/*background: -webkit-radial-gradient(center, ellipse cover, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
/*background: radial-gradient(ellipse at center, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*  width: 1000;
    height: 52;
}

a:hover {
    color: rgb(255, 0, 0);
    background: rgba(0, 0, 0, 0.15) ;
}

.titulo-sectores {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    border: 5px solid #b4ddb4;
}

.cristian-img {
    padding: 10px;
    background: #b4ddb4;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.cristian-img .img1 img {
    width: 100%;
    height: auto;
}

.produc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.burguer {
    padding: 0%;
    background: #b4ddb4;
    display: flex;
    justify-content: center;
}

.burguer img {
    width: 100%;
    height: auto;
}

.localidad {
    background: #52b152;
    display: flex;
    justify-content: start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1%;
    
}

.redes a {
    
    color: black;
    background: #b4ddb4;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: rgb(255, 0, 0);
    background: rgba(0, 0, 0, 0.15) ;
}

.info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.contenido {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
    width: auto;
    height: auto;
    margin: auto;
}

.lista {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
    width: auto;
    height: auto;
    margin: auto;
}

.maps a {
    color: black;
    background: #b4ddb4;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mercaderia-super {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #fff;
display: flex;
justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.mercaderias {
    padding: 10px;
    background: #fff;
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.mercaderias .mercaderias-sc img {
    width: 100%;
    height: auto;
}


.promocion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
display: flex;
justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.bancos {
    display: flex;
    justify-content: center;
}

.bancos img {
    padding: 0%;
    margin: 0%;
}



.info-contac {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
display: flex;
justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}

.direccion-super {
    padding: 10px;
    background: #52b152;
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.google-maps {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: #52b152;
display: flex;
justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
}*/
.sectores-sc{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 85%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: rgb(69, 86, 40);
}

.sectores-sc img{
    width: 450px;
    border-radius: 30px;
    border: dashed 2px white;
}

.sectores-sc h2{
    color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
   }


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.footer {
    margin: auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    width: 100%;
    background-color: rgb(38, 89, 56);
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img {
    width: 250px;
}
.footer .grupo-1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .grupo-1 .box p {
    color: black;
    margin-bottom: 10px;
}
.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: whitesmoke;
    text-align: center;
    transition: all 300ms ease;
}
.footer .grupo-1 .red-social a:hover{
    color: darkgreen;
}
.footer .grupo-2 {
    background-color:  rgb(31, 157, 171);
    padding: 15px 10px;
    text-align: center;
    color: black;
}
.footer .grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width:800px){
    .footer .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}
    }

