
main{
  h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background: white;
display: flex;
justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    }
    div{
        padding: 10px;
    background: #fff;
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: space-around;
    }

    $primary-color: rgba(201, 238, 251, 0.819);

.mercaderias {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  figure {
    position: relative;
    height: 250px;
    width: 350%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-out;
    }

    .texto {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $primary-color;
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;

      h3 {
        color: black;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
      }

      p {
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
      }
    }
  }

  figure:hover > .texto {
    opacity: 1;
    visibility: visible;

    h3 {
      margin-top: 70px;
      margin-bottom: 15px;
    }
  }

  figure:hover > img {
    transform: scale(1.15);
  }
}

}
    /*div{
        figure{
            position: relative;
            height: auto;
            width: auto;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
            }
            div{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(123, 193, 169);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
            figure:hover > div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}*/






