section {
  div {
    display: flex;
    justify-content: center;
    img {
      width: 10%;
      height: auto;
    }
}

}
main{
h2{
    display: flex;
    justify-content: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    padding: 10px;
    background: #fff;
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: space-around
}

p{
    background-color: rgb(38, 89, 56);
      display: flex;
      justify-content: center;
      padding: 40px;
      width: 85%;
      margin: 15px auto;
      border-radius: 20px;
      box-shadow: rgb(69, 86, 40);
      color: white;
      
      a{
        color: white;
        justify-content: end;
      }
}
}

 



